import Foundation
import UIKit
import JivoSDK

final class SdkDisplayingDelegate: NSObject, JVDisplayDelegate {
    func jivoDisplay(asksToAppear sdk: Jivo) {
    }
    
    func jivoDisplay(willAppear sdk: Jivo) {
    }
    
    func jivoDisplay(didDisappear sdk: Jivo) {
    }
    
    func jivoDisplay(defineText sdk: Jivo, forElement element: JVDisplayElement) -> String? {
        return nil
    }
    
    func jivoDisplay(defineColor sdk: Jivo, forElement element: JVDisplayElement) -> UIColor? {
        return nil
    }
    
    func jivoDisplay(defineImage sdk: Jivo, forElement element: JVDisplayElement) -> UIImage? {
        return nil
    }
}
