import Foundation
import JivoSDK

struct User {
    let email: String
    let supportJwt: String
    let fullName: String?
    let phoneNumber: String?
}

final class UserManager {
    private(set) var user: User?
    
    func update(user: User) {
        self.user = user
        configureJivoSession()
    }
    
    private func configureJivoSession() {
        if let user {
            let info = JVClientContactInfo(
                name: user.fullName,
                email: user.email,
                phone: user.phoneNumber
            )
            
            let client = Jivo.session.setup(widgetID: "YOUR_CHANNEL_ID", clientIdentity: .jwt(user.supportJwt))
            client.setContactInfo(info)
        }
        else {
            Jivo.session.shutDown()
        }
    }
}
