import Foundation
import UIKit
import JivoSDK

fileprivate enum ProfileMenuItem: Int {
    case support
    case faq
    case website
}

final class ProfileViewController: UITableViewController, UITableViewDelegate {
    // ...
    
    func tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath) {
        switch ProfileMenuItem(rawValue: indexPath.row) {
        case .support:
            handleHelpMenuItemSupportTap()
        case .faq:
            handleHelpMenuItemFaqTap()
        case .website:
            handleHelpMenuItemWebsiteTap()
        case nil:
            break
        }
    }
    
    private func handleProfileMenuItemSupportTap() {
        if let navigationController {
            Jivo.display.push(into: navigationController)
        }
        else {
            Jivo.display.present(over: self)
        }
    }
    
    private func handleProfileMenuItemFaqTap() {
        // navigate to faq screen
    }
    
    private func handleProfileMenuItemWebsiteTap() {
        // open website in safari
    }
}
