import Foundation
import JivoSDK

struct User {
    let email: String
    let supportJwt: String
    let fullName: String?
    let phoneNumber: String?
}

final class UserManager {
    private(set) var user: User?
    
    func update(user: User) {
        self.user = user
        configureJivoSession()
    }
    
    private func configureJivoSession() {
        if let user {
            Jivo.session.startUp(channelID: "YOUR_CHANNEL_ID", userToken: user.supportJwt)
        }
        else {
            Jivo.session.shutDown()
        }
    }
}
