import 'package:flutter/material.dart';

class ProfileWidget extends StatelessWidget {
    const ProfileWidget({super.key});
    
    @override
    Widget build(BuildContext context) {
        return Scaffold(
            appBar: AppBar(
                title: const Text('Profile')
            ),
            floatingActionButton: FloatingActionButton(
                child: const Icon(Icons.support),
                onPressed: () {
                }
            ),
        );
    }
}
