class User {
    String email;
    String supportJwt;
    String? fullName;
    String? phoneNumber;
    User(this.email, this.supportJwt, this.fullName, this.phoneNumber);
}

class UserManager {
    User? user;
    
    void updateUser(User? user) {
        this.user = user;
    }
}
