import 'package:jivosdk_plugin/bridge.dart';

class User {
    String email;
    String? fullName;
    String? phoneNumber;
    User(this.email, this.fullName, this.phoneNumber);
}

class UserManager {
    User? user;
    
    void updateUser(User? user) {
        this.user = user;
        _configureJivoSession();
    }
  
    void _configureJivoSession() {
        if (user != null) {
            Jivo.session.startUp(
                channelID: 'YOUR_CHANNEL_ID',
                userToken: user?.email ?? '');
        }
        else {
            Jivo.session.shutDown();
        }
    }
}
