class User {
    String email;
    String jwt;
    String? fullName;
    String? phoneNumber;
    User(this.email, this.jwt, this.fullName, this.phoneNumber);
}

class UserManager {
    User? user;
    
    void updateUser(User? user) {
        this.user = user;
    }
}
