import Foundation
import UIKit
import JivoSDK

fileprivate enum HelpMenuItem: Int {
    case support
    case faq
    case website
}

final class HelpViewController: UITableViewController, UITableViewDelegate {
    // ...
    
    func tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath) {
        switch HelpMenuItem(rawValue: indexPath.row) {
        case .support:
            handleHelpMenuItemSupportTap()
        case .faq:
            handleHelpMenuItemFaqTap()
        case .website:
            handleHelpMenuItemWebsiteTap()
        case nil:
            break
        }
    }
    
    private func handleHelpMenuItemSupportTap() {
        if let navigationController {
            JivoSDK.chattingUI.push(into: navigationController)
        }
    }
    
    private func handleHelpMenuItemFaqTap() {
        // navigate to faq screen
    }
    
    private func handleHelpMenuItemWebsiteTap() {
        // open website in safari
    }
}
