import React from 'react';
import { SafeAreaView } from 'react-native';

export default class ProfileComponent extends React.Component {
    render() {
        return (
            <SafeAreaView>
            </SafeAreaView>
        );
    }
}
