import React from 'react';
import { SafeAreaView, Button } from 'react-native';
import Jivo from 'rtn-jivo-sdk';

export default class ProfileComponent extends React.Component {
    render() {
        return (
            <SafeAreaView>
            <Button
                title="Contact Support"
                onPress={() => {
                    Jivo.display.present()
                }}
            />
            </SafeAreaView>
        );
    }
}
